site_name: Lucas Dias Ramos - My Docs
site_url: https://lucasdias-infosec.github.io/infosec-portfolio/en-us
repo_url: https://github.com/lucasdias-infosec/infosec-portfolio/en-us
repo_name: lucasdias-infosec/infosec-portfolio/
edit_uri: edit/main/docs/
theme:
  name: material
  language: en
  logo: assets/logo.png  
  favicon: assets/logo.png 
  palette: 
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - search.suggest
    - navigation.top
    - content.code.copy
    - content.action.edit
    - content.action.view
nav:
  - Home: en-us/index.md
  - Project Blue-Team-Lab (PT-BR):
      - Introdução: pt-br/blue-team-lab-pt-br/introducao.md
      - Base da Infraestrutura e Instalação de Ferramentas:
          - Base da Infraestrutura: pt-br/blue-team-lab-pt-br/00-base-infra.md
  - Contribution-Guide: en-us/contribution-guide.md
  - Professional Code of Ethics: en-us/professional-code-of-ethics.md
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/lucasdias-infosec
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/lucas-dias-ramos-a435a0369
    - icon: fontawesome/solid/envelope
      link: mailto:lucas.dias.ramos.pro@gmail.com
      name: E-mail
   
      
